.divLetras{
    width: 1.5em;
    height:  1.5em;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    background-color:rgb(255, 244, 209);
    font-size: 2em;
    text-align: center;
    display: inline-block;
    margin: .4em;
    border-radius: 10%;
}

#contenedor2{
    border-style: solid;
    border-color: black;
    border-width: 1px;
    background-color: rgba(250, 158, 112, 0.385);
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center; 
}

#marcador {
    font-weight: bold;
    font-size: 1.5em;
}

body {
    display: grid;
    grid-template-columns: repeat(3,32%);
    
 }

#contenedor2 {
    grid-column: 2;
}
